            {{#if label}}
                    <h3 class="itemContent labelEn">{{label.value}}</h3>
            {{/if}}
            {{#ifLang description}}
                    <div class="itemContent descriptionEn">{{description.value}}</div>
            {{/ifLang}}
            {{#if predicates}}
            {{#each predicates}}
                    <img class="typeImage" src="img/{{type}}.png"><div class="itemContent predicate" style="display:none">{{value}}</div>
                    {{#predicateLabelRetriver this}}
                        <div class="itemContent predicateLabel">{{label}}</div>
                    {{/predicateLabelRetriver}}
            {{/each}}
            {{/if}}